# Block directory indexes
Options -Indexes 

# Redirection of www.* to non-www.*
RewriteEngine On
RewriteCond %{HTTP_HOST} ^www.crownjewelsandcoin.com
RewriteRule (.*) http://crownjewelsandcoin.com/ [R=301,L]

# Caching 
# Header unset ETag
# FileETag None
# <FilesMatch "(?i)^.*\.(ico|html|jpg|jpeg|png|gif|js|css|ttf|eot|svg)$">
# Header unset Last-Modified
# Header set Expires "Wed, 20 Feb 2013 00:00:00 GMT"
# Header set Cache-Control "public, no-transform"
# </FilesMatch>

# GZip
<IfModule mod_deflate.c>
<FilesMatch "\.(html|js|css|xml)$">
SetOutputFilter DEFLATE
</FilesMatch>
</IfModule>
