<div class="navbar">
    <div class="navbar-inner">
      <div class="container">
        <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <a href="/" class="brand"><img src="/assets/Crown-Jewels-and-Coin.png" alt="Home Crown Jewels and Coin"></a>
        <div class="nav-collapse collapse" style="height: 0px; ">
          <ul class="nav">
				<li><a href="/" id="home" title="Arizona Jewelry Store">Home</a></li>
				<li><a href="/about" id="about" title="About Crown Jewels and Coin">About</a></li>
				<li><a href="/gold" id="gold" title="Buy or sell Gold">Gold</a></li>
				<li><a href="/silver" id="silver" title="Buy or sell Silver">Silver</a></li>
				<li><a href="/diamond" id="diamond" title="Buy or sell Diamonds">Diamonds</a></li>
				<li><a href="/coins" id="coins" title="Buy sell gold or silver Coins">Coins</a></li>
				<li><a href="/contact" id="contact" title="Contact Crown Jewels and Coin">Contact</a></li>
				<div class="contact">
				Phone 602-266-0629 | 
				<a href="http://facebook.com/crownjewelsandcoin" target="_blank" title="Crown Jewels and Coin on Facebook">Facebook</a>
	            <a href="http://twitter.com/crownjewelscoin" target="_blank" title="Crown Jewels and Coin on Twitter">Twitter</a>
	          </div>
		  </ul>

        </div><!-- /.nav-collapse -->
      </div>
    </div><!-- /navbar-inner -->
  </div>