<!DOCTYPE>
<html>
    
    <head>
        <title>{{ page.title }} | Crown Jewels and coin</title>
        <link rel='stylesheet' , href='/master.css' , type="text/css" , media="screen"></link>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
        <script src="/bootstrap.min.js"></script>
        <link type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/redmond/jquery-ui.css"
        rel="stylesheet" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js"></script>
        <script type="text/javascript" src="/jquery.youtubepopup.js"></script>
        <script type="text/javascript">
            $(function () {
                $("a.youtube").YouTubePopup({
                    autoplay: 1
                });
            });
            $(function () {
                $('.carousel').carousel();
                jQuery.browser.mobile;
            });
        </script>

    </head>
    
    <body>
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a href="/" class="brand"><img src="/clrlogo.png"></a>
                    <ul class="nav">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/about">About</a>
                        </li>
                        <li>
                            <a href="/">Contact</a>
                        </li>
                    </ul>
                    <div id="contact" class="pull-right">
                        <p>Phone PHX (602) 279-0872</p>
                        <p>Phone ABQ (505) 884-4888</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <!-- <div class="jumbotron">

        </div> -->
        <div class="span12" id="content">
            {{ content }} 
        </div>
        </div>

        <!-- <p>
            <a href="mailto:info@crownjewelsandcoin.com" title="Email ">Crown Jewels and Coin</a>
          </p> -->
        <footer>
            <div class="row-fluid">
                <div class = "container">
                <div class="span3" style="float:right;">
                    <p>3248 San Mateo Blvd N.E. <b>Albuquerque</b>, NM 87110
                        <br>505-884-4888
                        <br>
                    </p>
                    <p>Store Hours
                        <br>Mon-Fri: 10am-6pm / Sat: 10am-5pm / Sun: Closed</p>
                </div>
                <div class="span3">
                    <p>5220 North 7th Street <b>Phoenix</b>, Arizona 85012
                        <br>602-266-0629
                        <br>
                    </p>
                    <p>Store Hours
                        <br>Mon-Fri: 10am-6pm / Sat: 10am-5pm / Sun: Closed</p>
                </div>
                </div>
            <a href="/" class="brand" id="footbrand"><img src="cjc.png"></a>
            <!-- <p style="font-size: .75em;">&copy; 2011-2012 CrownJewelsandCoin</p> -->
            </div>

        </footer>
    </body>

</html>